<!-- views/partials/_header -->

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">WASA-BAE</a>
  <span>
  <button type="button" class="btn btn-outline-danger btn-lg">LOGIN</button>
  </span>
</nav>

