<!DOCTYPE html>
<html>
<head>
  <title>Wasabae - Sushi Delicacy Ordering</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="../styles/order.css" type="text/css" />
</head>
<body>
<% include partials/_header %>
<div class="container">
  <div class="row">
    <div class="col-8">col-8</div>
    <div class="col-4 right-side">
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../images/placeorder.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text-title">Hi, USERNAME</p>
        <p class="card-text-body">Please review the list of items selected, and confirm your order below.</p>
        <button type="button" class="btn btn-outline-danger btn-lg">PLACE ORDER NOW!</button>
  </div>
</div>
    </div>
  </div>
</div>
</body>
</html>
