<!DOCTYPE html>
<html>
<head>
  <title>Wasabae - Sushi Delicacy Ordering</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="../styles/layout.css" type="text/css" />
</head>
<body id="homepage">

<% include partials/_header %>
<div class="content">
  <h1 class="main-title" >WASA-BAE</h1>
  <h2 class="main-subsitle">Japanese Delicacy That Spices Up Your Life</h2>
  <br/>
  <button type="button" class="btn btn-outline-danger btn-lg">SIGN UP TO ORDER</button>
</div>
</body>
</html>
