@import './menu.scss';

$primary-font: 'Roboto Condensed';
$secondary-font: 'Roboto';

#homepage {
  background-color: white;
  background: url(../images/sushi-gourmet-homepage.jpg);
  opacity: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.menu-title {
  font-family: $primary-font;
  background: url(../images/menu-page.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  font-size: 100px;
  text-align: center;
  padding-top: 100px;
}

h4 {
  font-family: $secondary-font;
  font-size: 8px
}

.main-title {
  font-family: $primary-font;
  font-weight: 500;
  font-size:90px;
}

.main-subsitle{
  font-family: $secondary-font;
}

.menu-list {
  padding-left: 10%;
  padding-top:10%;
  width: 50%;

}

.main-subtitle {
  font-family: $secondary-font;
  font-weight: 200;
  font-size: 20px;
}

html  {
height: 100%
}

.content {
  text-align: center;
  padding-top: 15%;
}

.btn-outline-danger {
  font-family: $secondary-font;
  font-size: 18px;
  padding: 15px 18px;
}

.complete-page {
  padding-top: 5%;
  font-family: $primary-font;
  background: url(../images/checkout-complete.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-title-complete {
  font-size: 60px;
}

.main-subsitle-complete {
  font-family: $secondary-font;
}

