

.jumbotron {
    font-family: 'Permanent Marker', cursive;
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #fc4f53 !important; 
    color: #32fee3;
}

.jumbotron h1 {
    font-size: 6em; 
    letter-spacing: 2px;  
}
.container {
    margin: 0 auto;
}

.menu-image {
    position: relative;
    text-align: center;
    color: white;
    letter-spacing: 2px;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
        opacity: .6; 
    }
}

.menu-item {
    font-family: 'News Cycle', sans-serif;
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.menu-price {
    padding-top: 20px;
}

.checkout-button {
    float: right;
}

// flipcard

.flip-card {
    background-color: transparent;
    width: 296px;
    height: 196px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }