.jumbotron {
    font-family: 'Permanent Marker', cursive;
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #fc4f53 !important; 
    color: #32fee3;
}

.jumbotron h1 {
    font-size: 6em; 
    letter-spacing: 2px;  
}

#banner-title {
    display: inline-block;
    width: 40%; 
}

.add-confirmation {
    display: none;
    float: right;
}
.container {
    margin: 0 auto;
}
.card {
    transition: transform .2s;
}
.card:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    z-index: 1;
  }
.menu-image {
    position: relative;
    text-align: center;
    color: white;
    letter-spacing: 2px;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
        opacity: .6;
    }
}

.menu-item {
    font-family: 'News Cycle', sans-serif;
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.menu-price {
    padding-top: 20px;
}

.checkout-button {
    float: right;
}

.menu-sidebar {
    border: 1px solid grey;
}


