$primary-font: 'Roboto Condensed';
$secondary-font: 'Roboto';


.jumbotron {
  font-family: $primary-font;
  position: relative;
  height: 400px;
  width: 100%;
  background-image: url('../images/menu-page.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron h1 {

    padding-top: 90px;
    font-size: 6em;
    letter-spacing: 2px;
}
.container {
    margin: 0 auto;
}

.menu-image {
    position: relative;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    border-radius: 10px

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
        opacity: 0;
    }
}

.menu-item {
    font-family: $secondary-font;
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.menu-price {
    padding-top: 20px;
}

.checkout-button {
    float: right;
}

// flipcard

.flip-card {
    background-color: transparent;
    width: 296px;
    height: 196px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

.menu-sidebar {
    border: 1px solid grey;
}

#banner-title {
    display: inline-block;
    width: 40%;
    padding-left: 40%;
}

/*.add-confirmation {
    display: none;
    float: right;
    font-size:5px;
}*/

/*today's change*/
.checkout-button {
  margin-top: 10px;
  padding-top:10px;
  margin-bottom: 10px;
  padding-bottom:10px;
  margin-left: 80px;
}

.card {
  border-radius: 30px
}

.justify-content-center {
  padding-top: 40px;
}

.col-sm-2{
  margin-top: 40px
}

.col-sm-8{
  margin-left: 70px
}

.right-card {
  margin-right:10px;
}
