body {
  font-family: 'Roboto', sans-serif;
  background: #fafafa;
  opacity: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-img-top {
  height: 200px;
}


.btn-outline-danger {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  margin: 10px 10px;
}
